	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}
		.calendar {width:70px;}
		.newshome {width:340px;}
		.visibilitymenu1 { display:inline; }
		.visibilitymenu2 { display:none; }
		.klien {
			max-width:149px;
			height:auto;
			border:solid 1px #ebebeb;
		}
		.newshome02 {
			min-height:63px;
			background-image:url('../img/newslist_02.png');
			background-repeat:repeat-x;
		}
		.newshome03 {
			height:15px;
			background-image:url('../img/newslist_03.png');
		}
		
		/*slideshow*/
		#slide-images{
			position:relative;
			display:block;
			margin:0px;
			padding:0px;
			width:940px;
			height:293px;
			overflow:hidden;
		}

		#slide-images li{
			position:absolute;
			display:block;
			list-style-type:none;
			margin:0px;
			padding:0px;
			background-color:#FFFFFF;
		}

		#slide-images li img{
			display:block;
			background-color:#FFFFFF;
		}
		/*slideshow*/

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		.newshome {width:250px;}
		.visibilitymenu1 { display:inline; }
		.visibilitymenu2 { display:none; }
		.klien {
			max-width:117px;
			height:auto;
			border:solid 1px #ebebeb;
		}
		.newshome02 {
			min-height:63px;
			background-image:url('../img/newslist_02_01.png');
			background-repeat:no-repeat;
		}
		.newshome03 {
			height:15px;
			background-image:url('../img/newslist_03_01.png');
		}
		
		/*slideshow*/
		#slide-images{
			position:relative;
			display:block;
			margin:0px;
			padding:0px;
			width:784px;
			height:233px;
			overflow:hidden;
		}

		#slide-images li{
			position:absolute;
			display:block;
			list-style-type:none;
			margin:0px;
			padding:0px;
			background-color:#FFFFFF;
		}

		#slide-images li img{
			display:block;
			background-color:#FFFFFF;
		}
		/*slideshow*/
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		.calendar {width:70px;}
		.newshome {width:200px;}
		.klien {
			max-width:149px;
			height:auto;
			border:solid 1px #ebebeb;
		}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		.calendar {width:85px;}
		.newshome {width:320px;}
		.visibilitymenu1 { display:none; }
		.visibilitymenu2 { display:inline; }
		.klien {
			max-width:134px;
			height:auto;
			border:solid 1px #ebebeb;
		}
		
		/*slideshow*/
		#slide-images{
			position:relative;
			display:block;
			margin:0px;
			padding:0px;
			width:420px;
			height:293px;
			overflow:hidden;
		}

		#slide-images li{
			position:absolute;
			display:block;
			list-style-type:none;
			margin:0px;
			padding:0px;
			background-color:#FFFFFF;
		}

		#slide-images li img{
			display:block;
			background-color:#FFFFFF;
		}
		/*slideshow*/

	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		.calendar {width:85px;}
		.newshome {width:200px}
		.visibilitymenu1 { display:none; }
		.visibilitymenu2 { display:inline; }
		.klien {
			max-width:146px;
			height:auto;
			border:solid 1px #ebebeb;
		}
		.newshome02 {
			min-height:63px;
			background-image:url('../img/newslist_02_01.png');
			background-repeat:no-repeat;
		}
		.newshome03 {
			height:15px;
			background-image:url('../img/newslist_03_01.png');
		}
		
		/*slideshow*/
		#slide-images{
			position:relative;
			display:block;
			margin:0px;
			padding:0px;
			width:300px;
			height:209px;
			overflow:hidden;
		}

		#slide-images li{
			position:absolute;
			display:block;
			list-style-type:none;
			margin:0px;
			padding:0px;
			background-color:#FFFFFF;
		}

		#slide-images li img{
			display:block;
			background-color:#FFFFFF;
		}
		/*slideshow*/

	}

	.liheadermenu {
	}
	.liheadermenu li {
		border:solid 0px red;
		float: left;
		padding: 0px 15px 0px 15px;
		font-size: 11px;
		color: #4b5359;
		margin-top: 12px;
	}
	.basicfontcolor {
		color: #53a3d7;
	}
	.dd {
		width:auto;
		font-size:38px;
		color:#ffffff;
		text-align:center;
		line-height:33px;
	}
	.mm {
		width:auto;
		font-size:10px;
		color:#ffffff;
		text-align:center;
		line-height:14px;
	}
	.newshometitle {
		font-size:14px;
		color:#4498cd;
		line-height:21px;
		margin: 0px;
	}
	.newshomecont {
		font-size:11px;
		color:#767676;
		line-height:14px;
		margin: 0px;
	}
	.newshome01 {
		height:15px;
		background-image:url('../img/newslist_01.png');
		background-repeat:repeat-x;
	}
	.archive {
		margin-right:30px;
	}
	.blog_categories {
		margin-right:30px;
	}
	.navigation {
		margin-right:30px;
	}
	.archive h3 {
		font-size:18px;
	}
	.blog_categories h3 {
		font-size:18px;
	}
	.navigation h3 {
		font-size:18px;
	}
	.list-unstyled {
		font-size:11px;
		color:#767676;
	}
	.blog_categories ul {
		font-size:11px;
		color:#767676;
	}
	.right_panel {
		float:right;
		text-align:right;
		min-height:100px;
		background:#f2f2f2;
		border-radius:25px;
	}
	.post h3 {
		font-size:21px;
		color:#53A3D7;
	}
	.post p {
		font-size:11px;
		color:red;
	}
	.meta {
		margin-bottom: 15px;
	}
	.date {
		font-size:11px;
		color:#767676;
		float: left;
		margin-right: 10px;
	}
	.category {
		font-size:11px;
		color:#767676;
	}
	.author {
		font-size:11px;
		color:#767676;
	}
	.body {
		font-size:12px;
	}
	
#comments {
	display: none;
}

/* Header Menu */
nav ul#head-nav { width: 1000px; height: 35px; padding: 14px 0 2px 0; margin: 0 auto; }
nav ul#head-nav ul { height: 0; left: 0; position: absolute; top: 18px; padding-top: 20px; visibility: hidden; width: 149px; z-index: 1000; }
nav ul#head-nav li { position: relative; list-style: none; margin: 0 35px 0 0; padding: 0; float: left; }
nav ul#head-nav li a, ul#head-nav li a:visited{ font-size: 12px; font-weight: bold; color: #7d7d7d; letter-spacing: 0.5px; text-shadow: 1px 1px 0px #ffffff; }
nav ul#head-nav li a:hover, ul#head-nav a:visited:hover { color: #ff6900; text-decoration: none; }
nav ul#head-nav li a:active, ul#head-nav li a:visited:active { color: #ffffff; }
nav ul#head-nav li.has_current > a { color: #4d4d4d; }

/* Header Menu second level */
nav ul#head-nav li:hover ul { visibility: visible; }/*make 2 visible when hovering on 1*/
nav ul#head-nav ul li { border: 1px solid #e9e9e9; padding: 3px; background: #d8d8d8; width: 149px; }
nav ul#head-nav ul li:hover { background: #c9c9c9; width: 149px; visibility: visible; }/*keep it visible*/

/* Header Menu third level */
nav ul#head-nav ul ul li { visibility: hidden; }/*make 3 visible when hovering on 2*/
nav ul#head-nav ul li:hover ul li { visibility: visible; }
nav ul#head-nav ul ul { left: 156px; top:-1px; width:149px; padding-top: 0; }

/* Header Menu fourth level */
nav ul#head-nav ul li:hover ul ul li { visibility: hidden; }/*hide by default*/
nav ul#head-nav ul ul li:hover ul li { visibility: visible; }/*make 4 visible when hovering on 3*/
nav ul#head-nav ul ul { left: 156px; top:-1px; width:149px; padding-top: 0; }

/* Header Menu fifth level */
nav ul#head-nav ul ul li:hover ul ul li { visibility: hidden; }/*hide by default*/
nav ul#head-nav ul ul ul li:hover ul li { visibility: visible; }/*make 5 visible when hovering on 4*/
nav ul#head-nav ul ul { left: 156px; top:-1px; width:149px; padding-top: 0; }

/* Header Menu sixth level */
nav ul#head-nav ul ul ul li:hover ul ul li { visibility: hidden; }/*hide by default*/
nav ul#head-nav ul ul ul ul li:hover ul li { visibility: visible; }/*make 6 visible when hovering on 5*/
nav ul#head-nav ul ul { left: 156px; top:-1px; width:149px; padding-top: 0; }
