<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>{{ template:title }}</title>
	{{ template:metadata }}

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	{{ theme:css file="base.css" }}
	{{ theme:css file="skeleton.css" }}
	{{ theme:css file="layout.css" }}
	{{ theme:css file="style.css" }}
	{{ theme:css file="stylesheet.css" }}
	
	{{ theme:js file="prototype.js" }}
	{{ theme:js file="scriptaculous.js" }}
	{{ theme:js file="simple-slide-show.js" }}

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

</head>
<body>
<div style="width:auto; height:7px; background:#53a3d7; border:solid 0px red;"></div>


	<!-- Primary Page Layout
	================================================== -->

	<!-- Delete everything in this .container and get started on your own site! -->

	<div class="container">
		<div class="one-third column" style="border: solid 0px red;">
			<h1 style="margin-top:20px;">yesweb</h1>
		</div>
		<div class="ten columns" style="border: solid 0px red; float:right; margin-top:23px;">
			<ul class="remove-bottom visibilitymenu1" style="border: solid 0px red;">
				<li class="liheadermenu"><a href="#">CONTACT US</a></li>
				<li class="liheadermenu"><a href="#">CAREER</a></li>
				<li class="liheadermenu"><a href="#">ACTIVITIES</a></li>
				<li class="liheadermenu"><a href="#">NEWS</a></li>
				<li class="liheadermenu"><a href="#">SOLUTIONS</a></li>
				<li class="liheadermenu"><a href="#">ABOUT US</a></li>
				<li class="liheadermenu"><a href="#">HOME</a></li>
			</ul>
			
			<select id="selectList" class="button visibilitymenu2" style="float:right;">
				<option value="Option 1" selected>Menu</option>
				<option value="Option 2">HOME</option>
				<option value="Option 3">ABOUT US</option>
				<option value="Option 4">SOLUTIONS</option>
				<option value="Option 4">NEWS</option>
				<option value="Option 4">ACTIVITIES</option>
				<option value="Option 4">CAREER</option>
				<option value="Option 4">CONTACT US</option>
			</select>

		</div>
		<div class="sixteen columns">
			<!--<img class="scale-with-grid" src="images/show_01.png">-->
			
			<div id="slide-show" class="visibilitymenu1">
				<ul id="slide-images">
					<li><img class="scale-with-grid" src="images/show_01.png"></li>
					<li><img class="scale-with-grid" src="images/show_02.png"></li>
					<li><img class="scale-with-grid" src="images/show_03.png"></li>
					<li><img class="scale-with-grid" src="images/show_04.png"></li>
				</ul>
			</div>
			<div id="slide-show" class="visibilitymenu2">
				<ul id="slide-images">
					<li><img class="scale-with-grid" src="images/slideshow_mobile_01.png"></li>
					<li><img class="scale-with-grid" src="images/slideshow_mobile_02.png"></li>
					<li><img class="scale-with-grid" src="images/slideshow_mobile_03.png"></li>
					<li><img class="scale-with-grid" src="images/slideshow_mobile_04.png"></li>
				</ul>
			</div>
			
		</div>
		<div class="eight columns">
			<h3 class="basicfontcolor">Klien</h3>
			<hr style="border:solid 1px #53a3d7;">
			{{ theme:image file="jaf.png" class="klien" }}
			{{ theme:image file="HPAM.png" class="klien" }}
			{{ theme:image file="11-OHD.png" class="klien" }}
			{{ theme:image file="30-aap.png" class="klien" }}
			{{ theme:image file="21-artcare.png" class="klien" }}
			{{ theme:image file="20-intee-shirt.png" class="klien" }}
			<!--
			<img class="klien" src="images/24-gajah-wong.png">
			<img class="klien" src="images/22-ivaa.png">
			<img class="klien" src="images/32-indo-art-now.png">
			-->
		</div>
		<div class="eight columns">
			<h3 class="basicfontcolor">News</h3>
			<hr style="border:solid 1px #53a3d7;">
			<!--news start-->
			<div class="eight columns newshome01" style="margin:0px; border:solid 0px red;"></div>
			<div class="eight columns newshome02" style="margin:0px; border:solid 0px red;">
				<div class="column calendar" style="border:solid 0px red;">
					<div class="dd">16</div> 
					<div class="mm">Mar</div>
					<div class="mm">2013</div>
				</div>
				<div class="column newshome">
					<p class="newshometitle">Lorem Ipsum</p>
					<p class="newshomecont">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam... more</p>
				</div>
			</div>
			<div class="eight columns newshome03" style="margin:0px 0px 10px 0px; border:solid 0px red;"></div>
			<!--news end-->
			<!--news start-->
			<div class="eight columns newshome01" style="margin:0px; border:solid 0px red;"></div>
			<div class="eight columns newshome02" style="margin:0px; border:solid 0px red;">
				<div class="column calendar" style="border:solid 0px red;">
					<div class="dd">16</div>
					<div class="mm">Mar</div>
					<div class="mm">2013</div>
				</div>
				<div class="column newshome">
					<p class="newshometitle">Lorem Ipsum</p>
					<p class="newshomecont">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam... more</p>
				</div>
			</div>
			<div class="eight columns newshome03" style="margin:0px 0px 10px 0px; border:solid 0px red;"></div>
			<!--news end-->
			<!--news start-->
			<div class="eight columns newshome01" style="margin:0px; border:solid 0px red;"></div>
			<div class="eight columns newshome02" style="margin:0px; border:solid 0px red;">
				<div class="column calendar" style="border:solid 0px red;">
					<div class="dd">16</div>
					<div class="mm">Mar</div>
					<div class="mm">2013</div>
				</div>
				<div class="column newshome">
					<p class="newshometitle">Lorem Ipsum</p>
					<p class="newshomecont">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam... more</p>
				</div>
			</div>
			<div class="eight columns newshome03" style="margin:0px 0px 10px 0px; border:solid 0px red;"></div>
			<!--news end-->
		</div>

	</div><!-- container -->

<div style="width:auto; height:50px; background:#373d41; border:solid 0px red;"></div>
<div style="width:auto; height:7px; background:#53a3d7; border:solid 0px red;"></div>
<!-- End Document
================================================== -->
</body>
</html>