		<div class="eight columns">
			<h3 class="basicfontcolor">Klien</h3>
			<hr style="border:solid 1px #53a3d7;">
			{{ theme:image file="jaf.png" class="klien" }}
			{{ theme:image file="HPAM.png" class="klien" }}
			{{ theme:image file="11-OHD.png" class="klien" }}
			{{ theme:image file="30-aap.png" class="klien" }}
			{{ theme:image file="21-artcare.png" class="klien" }}
			{{ theme:image file="20-intee-shirt.png" class="klien" }}
			<!--
			<img class="klien" src="images/24-gajah-wong.png">
			<img class="klien" src="images/22-ivaa.png">
			<img class="klien" src="images/32-indo-art-now.png">
			-->
		</div>
		<div class="eight columns">
			<h3 class="basicfontcolor">News</h3>
			<hr style="border:solid 1px #53a3d7;">
			<!--news start-->
			<div class="eight columns newshome01" style="margin:0px; border:solid 0px red;"></div>
			<div class="eight columns newshome02" style="margin:0px; border:solid 0px red;">
				<div class="column calendar" style="border:solid 0px red;">
					<div class="dd">16</div> 
					<div class="mm">Mar</div>
					<div class="mm">2013</div>
				</div>
				<div class="column newshome">
					<p class="newshometitle">Lorem Ipsum</p>
					<p class="newshomecont">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam... more</p>
				</div>
			</div>
			<div class="eight columns newshome03" style="margin:0px 0px 10px 0px; border:solid 0px red;"></div>
			<!--news end-->
			<!--news start-->
			<div class="eight columns newshome01" style="margin:0px; border:solid 0px red;"></div>
			<div class="eight columns newshome02" style="margin:0px; border:solid 0px red;">
				<div class="column calendar" style="border:solid 0px red;">
					<div class="dd">16</div>
					<div class="mm">Mar</div>
					<div class="mm">2013</div>
				</div>
				<div class="column newshome">
					<p class="newshometitle">Lorem Ipsum</p>
					<p class="newshomecont">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam... more</p>
				</div>
			</div>
			<div class="eight columns newshome03" style="margin:0px 0px 10px 0px; border:solid 0px red;"></div>
			<!--news end-->
			<!--news start-->
			<div class="eight columns newshome01" style="margin:0px; border:solid 0px red;"></div>
			<div class="eight columns newshome02" style="margin:0px; border:solid 0px red;">
				<div class="column calendar" style="border:solid 0px red;">
					<div class="dd">16</div>
					<div class="mm">Mar</div>
					<div class="mm">2013</div>
				</div>
				<div class="column newshome">
					<p class="newshometitle">Lorem Ipsum</p>
					<p class="newshomecont">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam... more</p>
				</div>
			</div>
			<div class="eight columns newshome03" style="margin:0px 0px 10px 0px; border:solid 0px red;"></div>
			<!--news end-->
		</div>
