		<div class="sixteen columns">
			<!--<img class="scale-with-grid" src="images/show_01.png">-->
			
			<div id="slide-show" class="visibilitymenu1">
				<ul id="slide-images">
					<li>{{ theme:image file="show_01.png" class="scale-with-grid" }}</li>
					<li>{{ theme:image file="show_02.png" class="scale-with-grid" }}</li>
					<li>{{ theme:image file="show_03.png" class="scale-with-grid" }}</li>
					<li>{{ theme:image file="show_04.png" class="scale-with-grid" }}</li>
				</ul>
			</div>
			<div id="slide-show" class="visibilitymenu2">
				<ul id="slide-images">
					<li>{{ theme:image file="slideshow_mobile_01.png" class="scale-with-grid" }}</li>
					<li>{{ theme:image file="slideshow_mobile_02.png" class="scale-with-grid" }}</li>
					<li>{{ theme:image file="slideshow_mobile_03.png" class="scale-with-grid" }}</li>
					<li>{{ theme:image file="slideshow_mobile_04.png" class="scale-with-grid" }}</li>
				</ul>
			</div>
			
		</div>